{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="d-flex h-100 text-center text-white index">
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'videos/bg1.mp4' %}" type="video/mp4">
        <!-- Credit: Video by Taryn Elliott: https://www.pexels.com/video/luxury-sports-cars-passing-on-the-street-5309381/ (Pexels.com)-->
    </video>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column main-content">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">CarMax</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                  <ul class="nav">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    {% else %}

                    <li class="mx-2">
                    <a class="nav-link" href="{% url 'list' %}">View Cars For sale</a>
                    </li>
                    <li>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h2>Find a deal near you!</h2>
            <p class="lead">Looking to buy or sell a used car? We've got you
                covered. </br> AutoMax is the leading used car marketplace.</p>
            <p class="lead">
            {% if user.is_authenticated %}
             <a href="{% url 'list' %}"
                     class="btn btn-lg btn-outline-secondary fw-bold ">Browse Available Cars</a>
                {% else %}
             <div class="col">
<a href="{% url 'list' %}"
                    class="btn btn-lg btn-outline-secondary fw-bold ">Browse Available Cars</a>

                 <a href="{% url 'list' %}"
                    class="btn btn-lg btn-outline-secondary fw-bold">Register</a>
</div>
            {% endif %}
            </p>
        </main>
<footer class="mt-auto text-white-50">
            <p>Copyright © {% now 'Y' %} <a target="_blank" href="https://github.com/noahwekesa/CarMax-django"
                    class="text-white">sourcecode</a></p>
        </footer>
    </div>
</div>

{% endblock content %}
